.content-section ul,
.content-section ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

.content-section ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.content-container-sayhi,
.content-container-button,
p {
    display: block;
    text-align: center;
    /* background-color: #FF2E00; */
    padding: 3rem 3rem 3rem 3rem;
}

.content-container-sayhi h1 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #0A210F;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
}

.content-sayhi-image {
    width: 35vmax;
    object-fit: cover;
}

.content-section {
    padding-bottom: 3rem;
    background-color: white;
}

.content-section div {
    overflow: hidden;
}

.content-section label {
    font-size: 1.333rem;
    color: #0A210F;
    text-align: left;
    position: relative;
    top: 1.15rem;
    left: 3rem;
    background-color: white;
}

.content-section input[type=text],
.content-section input[type=email] {
    background-color: white;
    color: #0A210F;
    font-size: 1.25rem;
    padding: 1.5rem;
    border: 1px solid #0A210F;
    border-radius: 3rem;
    width: 100%;
    text-decoration: none;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#lname,
#mail,
#subj {
    margin-bottom: 3rem;
}

label:has(~input[type=text]:focus),
label:has(~input[type=email]:focus),
label:has(~textarea:focus) {
    font-weight: bold;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    outline: none;
}

.content-section fieldset {
    border: none;
    padding: 3rem;
}

.content-section textarea {
    width: 100%;
    height: 30vmax;
    border: 1px solid #0A210F;
    resize: none;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    padding: 1.5rem 3rem 1.5rem 3rem;
    background-color: white;
    color: #0A210F;
    font-size: 1.25rem;
}

.content-section button {
    background-color: #FF2E00;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3rem;
    width: 100%;
    font-size: 1.333rem;
}

p {
    padding: 0rem;
    color: #0A210F;
    font-size: 1.5rem;
}

/* p::before {
    content: "* ";
    color: #FF2E00;
} */

input::placeholder,
textarea::placeholder {
    opacity: 0.25;
    color: #0A210F;
}

input:invalid {
    color: #FF2E00;
}

label:has(~input:required)::after,
label:has(~textarea:required)::after {
    content: "*";
    color: #FF2E00;
}
