.project-article {
    display: flex;
    justify-content: space-between;
}

.project-motivation {
    padding: 1.8rem 3.6rem 1.8rem 3.6rem;
    text-align: center;
    color: #0A210F;
}

.project-motivation h1 {
    font-size: 3rem;
}

.project-article .project-container-image {
    flex: 0 0 50%;
    aspect-ratio: 1.06/1;
    background-color: blue;
    overflow: hidden;
}

.project-article .project-container-image img {
    width: 100%;
    height: auto;
}

.project-container-description {
    flex: 0 0 50%;
    aspect-ratio: 1.06/1;
    background-color: white;
    color: #FF2E00;
    font-size: 1.333rem;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-container-description:nth-child(odd) {
    flex: 0 0 50%;
    aspect-ratio: 1.06/1;
    background-color: #0A210F;
    color: #FFFFFF;
    font-size: 1.333rem;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-link-more img {
    max-height: 2.3rem;
}

.project-link-more {
    text-align: left;
}

.project-container-description:nth-child(odd) .project-link-more {
    text-align: right;
}

.project-container-description p {
    margin: 0;
}