.content-section {
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr; */
}

.content-section img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-section div {
    overflow: hidden;
}

.content-container-hero {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
} 

.content-container-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.content-container-web {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

.content-container-description {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: white;
    color: #FF2E00;
    font-size: 1.333rem;
    padding: 1rem;
}

.content-container-colors-typo {
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.content-container-stationary {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.content-container-bag {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

