.content-section {
    display: grid;
    background-color: var(--grey);
}

article {
    padding: 7rem 2rem 7rem 2rem;
}

.name>div,
.address>div,
.skills>div,
.motivation>div {
    background-color: var(--grey);
    padding: 1rem;
}

.timeline-container {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 12;
    display: flex;
}

.timeline {
    width: 0.1rem;
    height: 90%;
    background-color:var(--green);
    margin: auto;
}

.timemarker-container {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 11;
    display: flex;
}

.timemarker {
    width: 1rem;
    height: 1rem;
    background-color: blue;
    margin-top: 45%;
    margin-left: calc(50% - 0.5rem);
    /* position: fixed; */
    z-index: 0;
}

.content-portrait-container {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    /* padding-top: 3rem; */
}

.portrait {
    width: 25vw;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.name {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
}

.name h1 {
    font-family: var(--serif-font);
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: -0.09rem;
    color: var(--green);
    font-weight: normal;
    text-align: center;
    margin: 0;
}

.address {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
}

.address p {
    font-family: var(--grotesk-font);
    text-align: center;
    font-size: 1.75rem;
    margin: 0;
    color: #0A210F;
    letter-spacing: 0.05rem;

}

.content-section ul,
.content-section ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.content-section div {
    overflow: hidden;
}

.skills {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 5;
}

.skills li {
    display: inline;
    color: var(--green);
    font-size: 1.5rem;
    font-family: var(--grotesk-font);
    padding: 0.8rem 1.8rem 0.8rem 1.8rem;
    border: 0.1rem solid var(--green);
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    border-radius: 3rem;
}

.motivation {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 6;
}

.motivation h1 {
    font-family: var(--serif-font);
    font-size: 2.5rem;
    font-weight: 400;
    color: #0A210F;
    text-align: center;
    padding: 0 3rem 0 3rem;
    margin: 0;
}

#experience {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 11;
}

.experience ul {
    display: flex;
    flex-direction: column;
    gap: 16rem;
}

.experience-container-li {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey);
    padding: 1rem;
}

.experience-siblings {
    display: flex;
    align-items: top;
    margin-top: 4rem;
}

.experience-siblings-timeline {
    height: 0.1rem;
    width: 50%;
    background-color: var(--green);
    margin-top: 2.5rem;
}

.experience-description {
    font-size: 2rem;
    font-family: var(--serif-font);
}

.experience-date {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 0.1rem solid var(--green);
    color: var(--green);
    /* background-color: var(--green); */
    border-radius: 3rem;
    margin: 0.5rem;
    width: fit-content;
    font-family: var(--grotesk-font);
    font-size: 1.25rem;
}

.cv {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 11;
    grid-row-end: 12;
    padding: 6rem 2rem 8rem 2rem;
}

.projects {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 12;
    grid-row-end: 13;
    text-align: center;
    padding: 2rem 2rem 14rem 2rem;
}

.projects-link img {
    height: 3rem;
}

.projects-link a,
.projects-link a:visited,
.projects-link a:hover,
.projects-link a:active {
    color: var(--highlight);
    text-decoration: none;
}

.projects-link{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.projects p {
    font-family: var(--grotesk-font);
    text-align: center;
    font-size: 1rem;
    margin: 0;
    color:var(--green);
    letter-spacing: 0.05rem;

}

.active h1,
.active p,
#active,
mark {
    color: var(--highlight);
}

#active{
    background-color: var(--highlight);
    border-width: 0px;
    color: var(--green);
}

.active .experience-description {
    color: var(--green);
}

.active .experience-date {
    background-color: var(--highlight);
    border: 0.1rem solid var(--highlight);
}

mark {
    background-color: transparent;
}

.download-cv {
    /* padding: 3.6em 2rem 3.6rem 2rem; */
    text-align: center;
    /* margin-top: 8rem; */
}

.download-cv div {
    
    letter-spacing: 0.05rem;
    font-family: var(--grotesk-font);
    font-size: 1.5rem;
    padding: 2rem;
    border: 0.1rem solid var(--green);
    border-radius: 50%;
    background-color: var(--grey);
    display: inline-block;
    aspect-ratio: 1/1;
    display: inline-flex;
}

.download-cv div:hover {
    background-color: var(--highlight);
}

.download-cv a {
    color: #0A210F;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    margin: auto;
}

/* .download-cv a:hover{
    color: #FF2E00;
} */

.rotate-animation {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}

.fa-solid {
    width: 2.7rem;
}

.my-work-button{
    text-decoration: none;
    border: none;
    border-radius: 70px;
    background: var(--green, #0A210F);
    padding: 0.8rem 3.6rem;
    color: var(--grey);
    font-size: 1.333rem;
    font-family: var(--grotesk-font);
}

.my-work-button:hover{
    color: var(--highlight);
}


@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 440px) and (orientation:portrait) {
    .experience-siblings-timeline {
        height: 0.1rem;
        width: 30%;
        background-color: var(--green);
        margin-top: 2.5rem;
    }

    article{
        padding: 14rem 2rem 14rem 2rem;
    }

    .portrait{
        width: 14rem;
    }

    .experience ul {
        gap: 28rem;
    }

    .cv{
        padding: 10rem 2rem 18rem 2rem;
    }
}