body{
    font-family: var(--grotesk-font);
}

.content-section{
    padding-bottom: 3rem;
    background-color: var(--grey);
}

.content-section ul,
.content-section ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

}

.content-section ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.content-container-sayhi,
.content-container-button,
p {
    display: block;
    text-align: center;
    /* background-color: var(--highlight); */
    padding: 3rem 3rem 3rem 3rem;
}

.content-container-sayhi h1 {
    font-family: var(--serif-font);
    font-size: 6rem;
    font-weight: 400;
    color: var(--green);
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
}

.content-sayhi-image {
    width: 35vmax;
    object-fit: cover;
}

.content-section div {
    overflow: hidden;
}

.content-section label {
    font-size: 1.333rem;
    color: var(--green);
    text-align: left;
    position: relative;
    top: 1.15rem;
    left: 3rem;
    background-color:var(--grey);
    padding: 0 0.5rem 0 0.5rem;
}

.content-section input[type=text],
.content-section input[type=email] {
    background-color:var(--grey);
    color: var(--green);
    font-size: 1.25rem;
    padding: 1.5rem;
    border: 1px solid var(--green);
    border-radius: 3rem;
    width: 100%;
    text-decoration: none;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#lname,
#mail,
#subj {
    margin-bottom: 3rem;
}

label:has(~input[type=text]:focus),
label:has(~input[type=email]:focus),
label:has(~textarea:focus) {
    font-weight: bold;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    outline: none;
}

.content-section fieldset {
    border: none;
    padding: 3rem;
}

.content-section textarea {
    width: 100%;
    height: 30vmax;
    border: 1px solid var(--green);
    resize: none;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    padding: 1.5rem 3rem 1.5rem 3rem;
    background-color:var(--grey);
    color: var(--green);
    font-size: 1.25rem;
}

.content-container-button button{
    text-decoration: none;
    border: none;
    border-radius: 70px;
    background: var(--green, #0A210F);
    padding: 0.8rem 3.6rem;
    color: var(--grey);
    font-size: 1.333rem;
    font-family: var(--grotesk-font);
}

.content-container-button button:hover{
    color: var(--highlight);
}

p {
    padding: 0rem;
    color: var(--green);
    font-size: 1.5rem;
}

p::before {
    content: "* ";
    color: var(--highlight);
}

input::placeholder,
textarea::placeholder {
    opacity: 0.25;
    color: var(--green);
}

input:invalid {
    color: var(--highlight);
}

label:has(~input:required)::after,
label:has(~textarea:required)::after {
    content: "*";
    color: var(--highlight);
}
